<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/mainpage.css">
</head>
<body>
<div class="container">
    <div class="container_div">
        <div class="main_container">
            <div class="main_container_div">
                <div class="nav_container">
                    <div class="nav_container_div">
                        <div class="nav_left_container">
                            <img src="../static/img/hyemin/logo.png" alt="">
                        </div>
                        <div class="nav_mid_container"></div>
                        <div class="nav_right_container">
                            <div class="nav_right_container_div">
                                <div class="nav_right_container_left">
                                    <button class="post_btn"><a href="/upload">POST</a></button>
                                </div>
                                <div class="nav_right_container_right">
                                    <button class="logout_btn">LOGOUT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img_container">
                    <div class="img_container_div">
                    </div>
                </div>
                <div class="search_container">
                    <div class="search_container_div">
                        <div class="search_input_container">
                            <input type="text" id="search_input" placeholder="태그를 입력하세요">
                        </div>
                    </div>
                </div>
                <div class="post_container">
                    <div class="post_container_div">
                        <div class="test_div"></div>
                        <div class="test_div"></div>
                        <div class="test_div"></div>
                        <div class="test_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>